@for $i from 1 through 9 {
  @if $i % 2 != 1 {
    $i: $i + 1;
  }
  @font-face {
    font-family: "Museo Sans";
    font-weight: $i * 100;
    font-style: normal;
    font-display: swap;
    src: url("./../fonts/MuseoSansCyrl-#{$i * 100}.woff2") format("woff2"), url("./../fonts/MuseoSansCyrl-#{$i * 100}.woff") format("woff");
  }
}